<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            
            <!-- !は真偽値がひっくり返る。trueがfalseに　falseがtrueになる。ここでいうfavorite_usersはtopicのモデルで定義した
            has_many :favorite_users, through: :favorites, source: 'user'のこと-->
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id),method: :post do %>
                <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id),method: :delete do %>
                <%= image_tag 'icons/heart-red.png', class: 'topic-index-icon' %>
              <% end %>
              <!--追加　カウント-->
              <%= topic.favorite_users.count %>
            <% end %>
            
            <!--コメントボタンリンク追加-->
            <%= link_to new_comment_path(topic_id: topic.id) do %>
              <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <% end %>
            
            <p class="topic-text">
              <%= topic.description %>
            
            <!--コメントeach-->
            <h5>コメント</h5>
              <% topic.comments.each do |comment| %>
                <div class="topic_comment">
                  <%= comment.comment %>
                </div>
              <% end %>  
              
              
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--投稿写真一覧ページ-->